*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0 2rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    position: relative;
    background: rgb(20, 19, 19);
    /* padding: 0 2rem; */
}
.header > a{
    color: aliceblue;
    font-size: 1rem;
    line-height: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
}
/* Navigation menu styles */
.header > nav{
    position: fixed;
    top: 10vh;
    right: 0;
}
.header > nav > ul{
    width: 100vw;
    height: 90vh;
    background: rgb(20, 19, 19);
    list-style: none;
    padding-top: 20vh;
}
.header > nav > ul > li{
    text-align: center;
    border-bottom: 1px solid white;
    margin: 0 2rem 2rem;
}
.header > nav > ul > li > a{
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-decoration: none;
    text-transform: capitalize;
    width: inherit;
    padding-bottom: .4rem;
    display: block;
}
.header > nav.inactive-menu{
    display: none;
}
.header > nav.active-menu{
    display: block;
}

/* hero section style */
.main > #hero{
    min-height: 90vh;
    padding-top: 15vh;
}

.main > #hero > h1{
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
}

.main > #hero > p{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.primary-button{
    display: block;
    color: white;
    background: black;
    border: none;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.9);
    margin-bottom: 2rem;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: capitalize;
}
.secondary-button{
    display: block;
    background: transparent;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.9);
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: capitalize;
}

/* About us section style */

#about{
    width: calc(100% - 4rem);
    margin: 0 auto;
    padding-bottom: 5rem;
}

/* Footer style */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8vh;
    background: rgb(0, 28, 0);
}
.footer > p{
    color: white;
    font-size: 1rem;
    line-height: 1.2rem;
}

/* Hamburguer button */
.header > #hamburguer{
    border: none;
    background: transparent;
}
.header > #hamburguer > span{
    display: block;
    height: 2px;
    width: 28px;
    background: white;
    margin-bottom: 8px;
}
.header > #hamburguer:last-child{
    margin-bottom: 0;
}

.header > #hamburguer > .active-slice0{
    position: relative;
    top: 5px;
    transform: rotate(45deg);
}
.header > #hamburguer > .active-slice1{
    display: none;
}
.header > #hamburguer > .active-slice2{
    position: relative;
    transform: rotate(-45deg);
    top: -5px;
}

@media only screen and (min-width: 740px) {
    .container{
        padding: 0 3rem;
    }
    .main > #hero{
    padding-top: 20vh;
    }

    .main > #hero > h1{
        font-size: 4rem;
        font-weight: 700;
        color: rgb(0, 0, 0);
        margin-bottom: 2rem;
    }

    .main > #hero > p{
        font-size: 2rem;
        margin-bottom: 4rem;
    }
    .primary-button{
        display: inline;
        margin-right: 2rem;
        box-sizing: content-box;
        font-size: 1rem;
        padding: .5rem 1rem;
        min-width: 10%;
        box-shadow: 0px 0px 4px .5px rgba(0, 0, 0, 0.4);
        border-radius: 2px;
    }
    .primary-button:hover{
        box-shadow: 0px 0px 4px .5px rgba(0, 0, 0, 1);
    }
    .secondary-button{
        box-sizing: content-box;
        font-size: 1rem;
        min-width: 10%;
        padding: .5rem 1rem;
        border: 1px solid black;
        box-shadow: none;
        border-radius: 2px;
        display: inline;
    }
    .secondary-button:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
}
@media only screen and (min-width: 768px){
    .container{
        padding: 0 4rem;
    }
    .header > #hamburguer{
        display: none;
    }

    .header > nav{
        position: static;
    }
    .header > nav > ul{
        display: flex;
        align-items: center;
        gap: 1rem;
        width: fit-content;
        height: fit-content;
        background: transparent;
        list-style: none;
        padding-top: 0;
    }
    .header > nav > ul > li{
        text-align: center;
        border-bottom: 0;
        margin: 0;
    }
    .header > nav > ul > li > a{
        width: fit;
        color: rgb(255, 255, 255);
        font-size: 1.4rem;
        line-height: 1.6rem;
        text-decoration: none;
        text-transform: capitalize;
        width: inherit;
        padding-bottom: 0;
        display: inline;
    }
    .header > nav.inactive-menu{
        display: block;
    }
}
@media only screen and (min-width: 1024px){
    .container{
        padding: 0 5rem;
    }
}
@media only screen and (min-width: 1280px){
    .container{
        padding: 0 6rem;
    }
}